streamlit==1.30.0
langchain==0.0.267
langchain-community==0.0.16
chromadb==0.4.18
pysqlite3-binary
sentence-transformers==2.2.2
aiohttp==3.9.1
python-dotenv==1.0.0
tqdm==4.66.1
google-generativeai==0.3.1
pypdf==3.17.1
azure-storage-blob==12.15.0
gunicorn==21.2.0
sentencepiece==0.1.99